<h1>Register a new Application</h1>

<div class="row">
  <div class="col-md-4">
    <p>Enter your app's name and url to get started:</p>
    <h4>Keep in mind:</h4>
    <ul>
      <li>Reports from live sites work best if you leave the slash off the end of the url;
      'http://live-url.net', <strong>not</strong> 'http://live-url.net/'.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form',
      locals: { registered_application: @registered_application } %>
  </div>
</div>
